body {
    background-color: black;
    
}
.post {
   width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: Arial, sans-serif;
}
.image img { 
    padding: auto;
    border-radius: 0%;
    width: 100%;
}
.icons i{
    margin: 5px 5px;
    font-size: 33px;
}
.icons i:last-child{
    float: right;
    margin: 5px 5px;
    padding: 5px;
}
.post_header {
    position: relative;
}
.primer-icono{
    position: absolute;
    left: 0;
    top: 0px;
    margin: 5px;
}
.segundo-icono h2{
    margin: 40px;
    font-size: medium;
}
.tercer-icono i{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    margin: 10px;
}
